<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <h4 class="text-danger text-muted">Verify your mail ID!</h4>
            </div>
            <div class="mb-3">
              <p>Link has been sent to your mail ID. Kindly verify the same!</p>
            </div>
            <div class="row">
              <div class="col-6 mt-3"> <a href="/login" class="text-danger">Go back to Login</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>